@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  transition: all 0.25s ease;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 0px;
  height: 41px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rose {
  @apply bg-gradient-to-r from-rose-500 to-rose-300;
}
.green {
  @apply bg-gradient-to-r from-green-500 to-green-300;
}

.amber {
  @apply bg-gradient-to-r from-amber-400 to-amber-200;
}

.blue {
  @apply bg-gradient-to-r from-cyan-500 to-blue-300;
}
